ALTER TABLE OW_ORDER_LINES
  DROP CONSTRAINT OW_LINES_PART_REF;


ALTER TABLE OW_ORDER_LINES ADD (
  CONSTRAINT OW_LINES_PART_REF 
  FOREIGN KEY (PART_ID) 
  REFERENCES OW_PARTS (PART_ID)
  ENABLE VALIDATE);
