ALTER TABLE OW_ORDERS
  DROP CONSTRAINT OW_ORDERS_CUSTOMERS_REF;


ALTER TABLE OW_ORDERS ADD (
  CONSTRAINT OW_ORDERS_CUSTOMERS_REF 
  FOREIGN KEY (CUST_ID) 
  REFERENCES OW_CUSTOMERS (CUST_ID)
  ENABLE VALIDATE);
